$img :133px;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.parent{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 2px black;
    &__logo{
        &__img{
            width: $img;

        }

    }
    &__menu{
        display: flex;
        gap:20px;
        font-size: 20px;
        a{
            text-decoration: none;
        }
        a:hover{
            color: blue($color: #000000);
        }

    }
}